body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: #E5E5E5;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 80%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

.header{
    height:70px;
    border-bottom: 2px solid #000;
    background-color: #000;
}

.header.container{
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.navbar{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style: none; /* tira os pontinhos da lista*/
    color: white;
    gap: 40px; /* da um espaço entre os itens*/
}

.logo img{
 width: fit-content;/* se adapta ao tamanho da navbar*/
 height: 65px;
 padding-top: 5px;
}

.container2{
    display: flex;
    justify-content: end;
    gap: 35px;
}

.header.container2{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* final do header*/

/* Itens pagina principal*/

.principal{
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
}
  
/*Texto capoeira*/
.principal .principal_texto h1{
    display: flex;
    justify-self:center;
    margin-top: 85px;
    font-size: 86px;
    font-style:italic;
    text-shadow: 3px 3px 3px gray; /* Desfoque, Deslocamento vertical, Deslocamento horizontal */
}

/*Texto Ginga que transforma. Luta que conecta.*/
.principal .principal_texto p{
    display: flex;
    justify-self:center;
    align-items: center;
    font-size: 30px;
    font-style:italic;
    font-weight: bold;
}

.principal .principal_texto button{
   background-color: #000;
   color: white;
   height: 30px;
   width: 110px;
   border-radius: 4px;
  
}
  
.principal .principalimg img{
 height: 120vh;
    
}