@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    min-height: 100vh; 
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden; /* Evita rolagem horizontal troca*/
}

.navbar{
    display: flex;
    width: 100%;
    margin:0;
    justify-content: space-around;
    align-items: center;
    height:10%;
    border-bottom: 2px solid #000;
    background-color: #000;
    z-index: 10;
    position: fixed;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.elementos1{
    display: flex;
    align-items: center; 
    list-style: none; 
    color: white;
    gap: 25px; 
    padding: 0;
    margin: 0;
}

.logo img{
 max-width: 100%;
 height: 65px;
 padding-top: 5px;
}

.elementos2{
    display: flex;
    gap: 20%;
    margin-left: 100px;
}
/* final do header*/


/* Itens pagina principal*/

.principal{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
  
/*Texto capoeira*/
.principal .principal_titulo h1{
    display: flex;
    margin-left: 120px;
    margin-top: 30%;
    margin-bottom: 0;
    font-size: 100px;
    font-style:italic;
    padding: 0;
    text-shadow: 3px 3px 3px gray; 
}

/*Texto Ginga que transforma. Luta que conecta.*/
.principal_titulo .frase p{
    display: flex;
    font-weight: bold;
    font-size: 30px;
    margin-left: 130px;
    margin-top: 0;
}

.botao{
    display: flex;
    margin: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal_titulo .botao button{
    margin-left: 60px;
    margin-top: 0;
    height: 40px;
    width: 150px;
    background-color: #000;
    color: #ffff;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 18px
}

.botao button:hover {
    background-color: rgb(57, 56, 56);
    box-shadow: 10px 8px 8px gray;
    color: #FCA311;
}

  
.principal .principalimg img{
 height: 120vh;
 width: 60vh;
}

.principal2 .principalimg{
    margin-top: -15%;
}

.principal2{
    display: flex;
    justify-content: space-between;
}

.principal2 .principal_texto h1{
    font-size: 40px;
    margin-left: 5%;
    font-weight:700;
}

.principal2 .frase p{
    margin-top: -5%;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
}

.containerhome .frase{
    margin-top: 8%;
    margin-left: 5%;
}

.containerhome2{
    margin-top: -250px;
    display: flex;
    flex-direction: column;
}

.principal_titulo h1{
    margin-left: 27%;
    font-weight:700;
}

.frase2 p{
    margin-left: 22%;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-right: 2%;
}

.carrossel{
    gap: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    background-color: #14213D;
    margin-top: 10%;   
}

.carrossel h3{
    font-size: 45px;
    color: #E5E5E5;
    font-weight: 800;
    margin-top: -2%;
}   

.carrossel p{
    font-size: 40px;
    color: #E5E5E5;
    font-weight: 800;
    margin-top: -1%;
} 

.carrossel #link{
    font-size: 20px;
    color: #FCA311;
    font-weight: 800;
    margin-top: -5%;
}



/* Carrossel */

.slider {
  width: 75%;
  height: 100%;
  overflow: hidden; /* Oculta slides que não estão visíveis */ /* Efeito de sobreposição com sombras múltiplas */
}

.slide {
  width: 100%;
  height: 100%;
  display: none; /* Oculta todos os slides inicialmente */
}

.slide img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.active {
  display: block; /* Mostra o slide ativo */
}

.parte1{
    align-items: center;
    height: 102%;
    border-radius: 20px;
    display: flex;
    width: 85%;
    background: #ffffffb8;
    justify-content: center;
}

.parte2{
    align-items: center;
    height: 52%;
    border-radius: 20px;
    display: flex;
    width: 90%;
    background: #ffffff77;
    justify-content: center;
}

.parte3{
    align-items: center;
    height: 108%;
    border-radius: 20px;
    display: flex;
    width: 85%;
    background: #ffffff8a;
    justify-content: center;
}

/*cards*/

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#E5E5E5; 
}

.titulograd{
    display: flex;
    height:30% ;
    width: 100%;
}

.titulograd img{
    height: 120%;
    width: 25%;
    justify-content:flex-start;
    margin-left: -70px;
    margin-top: -41px;
}

.titulograd h3{
    font-size: 50px;
    color: #000;
    padding-left: 15%;
    font-weight: 800;
    margin-top: 4%;
}


.poster{
    height: 60%;
    width: 95%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
} 

/* CARDS FLIP */
.card {
     width: 15%;
     height: 80%;
     perspective: 1000px; /*parece realmente virar no espaço 3D*/
    }

.cardgiratorio {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.7s;
     transform-style: preserve-3d;/* Mantém a posição dos filhos em 3D ao rotacionar necessário para o efeito flip funcionar */
}

.card:hover .cardgiratorio {
     transform: rotatey(180deg);
}

.cardFrente, .cardVerso {
     position: absolute;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;/* card é duplaface, isso faz com que a parte de traz não seja vista*/
     backface-visibility: hidden;
     border-radius: 10px;
     border: 4px solid #000;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 0 35px rgb(40, 39, 39);
}

.cardFrente {
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
}

.cardFrente #berimbau{
    height: 70%;
}

.cardFrente #atabaque{
    height: 55%;
}

.cardFrente #agogo{
    height: 55%;
}

.cardFrente #pandeiro{
    height: 55%;
}

.cardFrente p{
    font-weight: 700;
    font-size: 26px;
    color: #E5E5E5;
}

.cardVerso {
     background-color: #FCA311;
     color: black;
     transform: rotateY(180deg); /*faz ele girar 180 graus*/
     display: flex;
     align-items: center;
     justify-content: center;
     border: 5px solid #14213D;
     padding: 2%;
}

.cardVerso p{
    font-weight: 600;
    font-size: 18px;
}

.musicas{
    height: 100vh;
    width: 100vw;
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}


.caixa1{
    width: 80%;
    height: 20%;
    display: flex;
    margin-top: -1%;
    justify-content: space-around;
}

.filho1{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    perspective: 1000px;
}

.filho1 h1{
    font-weight: 800;
    font-size: 47px;
    color: #FCA311;
    text-decoration: underline;
}


.caixa2{
    width: 90%;
    height: 60%;
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
}

.filho3{
    height: 100%;
    width: 48%;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: 4px solid #FCA311;
    display: flex;
    perspective: 1000px;

}

.filho3 p{
    font-weight: bold;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}


.filho4{
    height: 100%;
    width: 48%;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: 4px solid #FCA311;
    display: flex;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.filho4 img{
        height: 50%;
        width: 65%;
}
.filho4 p{
    font-weight: 700;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}

.incentivo{
    height: 80vh;
    width: 100vw;
    background-color: #671414;
    display: flex;
    align-items: center;
    justify-content: center
}

.box{
    width: 70%;
    height: 60%;
    background-color: #FCA311;
    border-radius: 50px;
    border: 5px solid #14213D ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
     box-shadow: 10px 8px 8px rgb(44, 44, 44);
}

.box h1{
    font-weight: 800;
    color: #000;
}

.box p{
     font-weight: 520;
     font-size: 20px;
    color: #000;
}

.box button{
    border-radius: 10px;
    height: 55px;
    width: 100px;
    color: #E5E5E5;
    background-color: #14213D;
    border: 3px solid #000;
    font-weight: bold;
    font-size: 15px;
}
.box button:hover{
    background-color: #173577;
    color: #000;
    box-shadow: 10px 8px 8px rgb(44, 44, 44);
}


footer {
  width: 100vw;
  height: 25vh;
  background-color: #000;
  display: flex;
  justify-content: space-around;
}

.sobre {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #111;
  border-radius: 8px;
  margin-top: 35px;
    align-items: center;    
}
.contato{
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #111;
  border-radius: 8px;
  margin-top: 35px;
align-items: center;    
}

.pags{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.sobre h2, .contato h2 {
  font-size: 20px;
  color: #FCA311;
  margin-bottom: 10px;
}

.sobre p{
  font-size: 14px;
  color: #E5E5E5;
}

.contato a{
  font-size: 14px;
  color: #E5E5E5;
  text-decoration: none;
 
}

.contato ul {
    list-style: none;
 font-weight: bold;
}


.contato #list2 {
  list-style: none;
  padding: 0;
  margin-left: 5%;
  font-weight: bold;
}

.contato li {
  margin-bottom: 5px;
}

